[data]
data = era5
train_data_path = /home/ices/work/LS_NTP/data/ncep/2m_temperature_train_2017.npy
test_data_path = /home/ices/work/LS_NTP/data/ncep/2m_temperature_test_2018.npy
; three normalizers 'std', 'minmax01', and 'minmax11'
nomalizer = minmax01
height = 21
width = 35
validate_ratio = 0.15
validate_random_state = 1

[model]
model_save_path =  /home/ices/work/LS_NTP/save/ncep/
test_snapshot = 1
resume_checkpoint =
device = cuda
num_gpus = 2
in_channel = 1
input_len = 6
output_len = 6
chunk_interval = 1
kernel_size = 3
conv_dim = 256
node_embedding_dim = 512
lsntp_downsample = False
batch_size = 8
test_batch_size = 256
learning_rate = 0.001
epoch = 70
